[Unit]
Description=Adalab provision on fist boot, autoremove when done

[Timer]
# Wait 3 minutes since boot
OnBootSec=3min
# Retries every hour, should be removed on succesfull run
OnUnitActiveSec=1h
Unit=adalab-provision.service

[Install]
WantedBy=multi-user.target